.spiralGallery {
  position: absolute;
  left: 0;
  margin-left: 0;
  top: 0;
  width: 100vw;
  height: 250vh;
  overflow: hidden;
  z-index: 0;

  canvas {
    position: sticky !important;
    top: 0;
  }
}
