@font-face {
  font-family: "PP Telegraf";
  src: url(/fonts/PPTelegraf-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #171717;
  font-family: "PP Telegraf", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  pointer-events: auto;
}

main {
  width: 100%;
}
